{% extends "base.html" %}

{% block title %}Udacity Web Development exercises{% endblock %}


{% block styles %}{% endblock %}


{% block content %}

<ul>
    <li><a href="/pigs">Pig Latin Translator</a></li>
    <li><a href="/rot13">ROT13 Encryptor</a></li>
    <li><a href ="/birthday">Birthday Input</a></li>
    <li><a href ="/fizzbuzz">FizzBuzz</a></li>
    <li><a href ="/signup">Signup Form</a></li>
    <li><a href ="/shoppinglist">Shopping List Creator</a></li>
    <li><a href ="/asciichan">ASCII Art Submission Site</a></li>
</ul>
{% endblock %}